        <footer>
            <div class="d-flex flex-row justify-content-between m-5 p-3">
                <div>
                    <small>© 2022 David Kobrin</small>
                </div>
                <div>
                    <a href="https://github.com/DaveKobrin" target="_blank"><img class="contact-link" src="/images/GitHub-Mark-64px.png" alt="github"></a>
                    <a href="https://www.linkedin.com/in/david-kobrin-developer-in-nj/" target="_blank"><img class="contact-link" src="/images/LI-In-Bug.png" alt="linked in"></a>
                    <a href="mailto://david_kobrin@yahoo.com" target="_blank"><img class="contact-link" src="/images/64863-outlook.com-computer-email-icons-png-file-hd.png" alt="email"></a>
                </div>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    </body>
</html>