<%- include ('./partials/head.ejs') %>
<div class="d-flex container-fluid justify-content-center w-100 p-5">
    <div class="w-75 text-center">
        <h1>Welcome to iLib - Again</h1>
        <p>Your home for media library managment at home or on the go!</p>
        <p>just click on the <a href="/user/signin">sign in link</a> to get started.</p>
    </div>
</div> 
<%- include ('./partials/foot.ejs') %> 
