<%- include ('../partials/head.ejs') %>

<div class="container-fluid text-center">
    <br>
    <h1>Register a new user</h1>
    <form class="form-signin w-100 m-auto" action="/user/register" method="POST">
        <div class="form-floating">
            <input class="form-control float-top" type="text" name="username" id="username"/>
            <label for="username">User Name</label>
        </div>
        <div class="form-floating">
            <input class="form-control float-bottom" type="password" name="password" id="password"/>
            <label for="password">Password</label>
        </div>
        <input class="w-100 btn btn-lg bg-ilib-primary text-ilib-primary" type="submit" value="Sign Up">
    </form>
</div>
<%- include ('../partials/foot.ejs') %>