<%- include ('../partials/head.ejs') %>

<h1>Register a new user</h1>
<form action="/user/register" method="POST">
    <fieldset>
        <label for="username">username:</label>
        <input type="text" name="username" id="username"/>
    </fieldset>
    <fieldset>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password"/>
    </fieldset>
    <input type="submit" value="Sign Up">
</form>
<%- include ('../partials/foot.ejs') %>